<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<div class="container">
    <h2>Device Details</h2>
     <div class="panel-footer">
			 <div class="row">
				<div class="col-sm-10 col-sm-offset-0">
				  <button onClick="config()" id="button" value="config"  class="btn btn-primary">Apply</button>&nbsp;
				  <t> Settings will be applied to all devices that fall under this profile.</t>
				</div>
			 </div>
		  </div><!-- panel-footer -->
        <br />
        <!-- Nav tabs -->
		<ul class="nav nav-tabs">
          <li class="active"><a href="#" data-toggle="tab"><strong>Basic Settings</strong></a></li>
          <li><a href="#" th:href="@{/wifi}" data-toggle="tab"><strong>WiFi Settings</strong></a></li>
           <li><a href="#" data-toggle="tab"><strong>Disable Applications</strong></a></li>
          <!--<li><a href="#browser" data-toggle="tab"><strong>Browser</strong></a></li>-->
         <li><a href="#" data-toggle="tab"><strong>KIOSK</strong></a></li>
         <li><a href="#" data-toggle="tab"><strong>Applications</strong></a></li>
          <li><a href="#" data-toggle="tab"><strong>Manage Device</strong></a></li>
         <!--  <li><a href="#video" data-toggle="tab"><strong>Video Looper</strong></a></li> -->
          <li><a href="#" data-toggle="tab"><strong>Advanced</strong></a></li>
        </ul>
    <div>
     <br />
        <form class="form-horizontal" th:object="${configuration}" th:action="@{/configuration}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <!-- <input type="hidden" th:field="*{created}"/> -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Profile Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{profileName}"/>
                </div>
            </div>
 <div class="form-group">
                <label class="col-sm-3 control-label" for="checkbox">MDM CLIENT DISPLAY: </label>
                <input type="checkbox" th:field="*{mdmClientDisplay}" />
        </div>
        <div class="form-group">
                <label class="col-sm-3 control-label" for="checkbox">STATUS BAR: </label>
                <input type="checkbox" th:field="*{statusBar}" />
        </div>
        <div class="form-group">
                <label class="col-sm-3 control-label" for="checkbox">HOME KEY: </label>
                <input type="checkbox" th:field="*{homeKey}" />
        </div>
        <div class="form-group">
                <label class="col-sm-3 control-label" for="checkbox">BACK KEY: </label>
                <input type="checkbox" th:field="*{backKey}" />
        </div>
        <div class="form-group">
                <label class="col-sm-3 control-label" for="checkbox">RECENTS KEY: </label>
                <input type="checkbox" th:field="*{recentsKey}" />
        </div>
        <div class="form-group">
                <label class="col-sm-3 control-label" for="checkbox">POWER KEY: </label>
                <input type="checkbox" th:field="*{powerKey}" />
        </div>
        <div class="form-group">
                <label class="col-sm-3 control-label" for="checkbox">FIRMWARE UPGRADE: </label>
                <input type="checkbox" th:field="*{firmwareUpgrade}" />
        </div>
        <div class="form-group">
                <label class="col-sm-3 control-label" for="checkbox">FACTORY RESET: </label>
                <input type="checkbox" th:field="*{factoryReset}" />
        </div>
        <div class="form-group">
                <label class="col-sm-3 control-label" for="checkbox">S-VOICE: </label>
                <input type="checkbox" th:field="*{svoice}" />
        </div>
        <div class="form-group">
                <label class="col-sm-3 control-label" for="checkbox">ANDROID SETTINGS: </label>
                <input type="checkbox" th:field="*{androidSettings}" />
        </div>
        <div class="form-group">
                <label class="col-sm-3 control-label" for="checkbox">VOLUME KEY: </label>
                <input type="checkbox" th:field="*{volumeKey}" />
        </div>
        <div class="form-group">
                <label class="col-sm-3 control-label" for="checkbox">MULTI-WINDOW: </label>
                <input type="checkbox" th:field="*{multiWindow}" />
        </div>
        <div class="form-group">
                <label class="col-sm-3 control-label" for="checkbox">NOTIFICATIONS: </label>
                <input type="checkbox" th:field="*{notifications}" />
        </div>
        <div class="form-group">
                <label class="col-sm-3 control-label" for="checkbox">LOCK SCREEN : </label>
                <input type="checkbox" th:field="*{lockScreen}" />
        </div>
        <div class="form-group">
                <label class="col-sm-3 control-label" for="checkbox">BLUETOOTH: </label>
                <input type="checkbox" th:field="*{bluetooth}" />
        </div>
        <div class="form-group">
        		<label class="col-sm-3 control-label" for="checkbox">GPS: </label>
              		<input type="checkbox" th:field="*{gps}" />
        </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>