<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="container">
<div class="panel panel-default">
	 <div class="panel-heading">
	          <div class="panel-btns">
	            <a href="configuration.html" class="panel-close">&times;</a>
	            <a href="configuration.html" class="minimize">&minus;</a>
	          </div>
	          <h4 class="panel-title">NEW PROFILE</h4>
	
	 </div>
	        <div class="panel-body">
	  			<button onclick="location.href='/configuration/new';" id="button" value="add" type="button" class="btn btn-primary">Create Profile</button>
	  		</div>
  </div>
      <h2>Profiles</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Pofile Name</th>
                <th>View</th>
                <th>Edit</th>
            </tr>
            <tr th:each="configuration : ${configurations}">
                <td th:text="${configuration.id}"><a href="/Configuration/${configuration.id}">Id</a></td>
                <td th:text="${configuration.profileName}">Profile Name</td>
                <td><a th:href="${ '/configuration/' + configuration.id}">View</a></td>
                <td><a th:href="${'/configuration/edit/' + configuration.id}">Edit</a></td>
            </tr>
        </table>

    </div>


</body>
</html>