<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Spring Framework Guru</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="container">
  <button onclick="location.href='/device/new';" id="button" value="add" type="button" class="btn btn-primary"> Add Device </button>
  <!--   <div th:if="${not #lists.isEmpty(devices)}"> -->
        <h2>Device List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Product Id</th>
                <th>Description</th>
                <th>Price</th>
                <th>View</th>
                <th>Edit</th>
            </tr>
            <tr th:each="device : ${devices}">
                <td th:text="${device.id}"><a href="/device/${device.id}">Id</a></td>
                <td th:text="${device.deviceId}">device Id</td>
                <td th:text="${device.mdm}">MDM</td>
                <td th:text="${device.battery}">Battery</td>
                <td><a th:href="${ '/device/' + device.id}">View</a></td>
                <td><a th:href="${'/device/edit/' + device.id}">Edit</a></td>
            </tr>
        </table>
    </div>
<!-- </div> -->

</body>
</html>

