<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="container">
    <button onclick="location.href='/license/new';" id="button" value="add" type="button" class="btn btn-primary">ADD</button>
    <div th:if="${not #lists.isEmpty(licenses)}">
        <h2>License List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>License Name</th>
                <th>License Code</th>
                <th>Max Qty</th>
                <th>Used Qty</th>
                <th>Start Date</th>
                <th>Action</th>
                <th>View</th>
                <th>Edit</th>
            </tr>
            <tr th:each="license : ${licenses}">
                <td th:text="${license.id}"><a href="/License/${license.id}">Id</a></td>
                <td th:text="${license.licenseName}">License Name</td>
                <td th:text="${license.licenseCode}">License Code</td>
                <td th:text="${license.quantity}">Max Qty </td>
                <td th:text="0">Used Qty </td>
                <td th:text="0">Start Date </td>
                <td th:text="0">Action </td>
                <td><a th:href="${ '/license/' + license.id}">View</a></td>
                <td><a th:href="${'/license/edit/' + license.id}">Edit</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>