<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<div class="container">
<h2>Configurations</h2>
    	 <div class="panel-footer">
			 <div class="row">
				<div class="col-sm-10 col-sm-offset-0">
				  <button onClick="config()" id="button" value="config"  class="btn btn-primary">Apply</button>&nbsp;
				  <t> Settings will be applied to all devices that fall under this profile.</t>
				</div>
			 </div>
		  </div><!-- panel-footer -->
        <br/>
        <!-- Nav tabs -->
		<ul class="nav nav-tabs">
          <li ><a href="#"  th:href="@{/configuration/new}" data-toggle="tab"><strong>Basic Settings</strong></a></li>
          <li><a href="#" th:href="@{/wifi/new}" data-toggle="tab"><strong>WiFi Settings</strong></a></li>
           <li><a href="#" th:href="@{/disableapps}" data-toggle="tab"><strong>Disable Applications</strong></a></li>
          <!--<li><a href="#browser" th:href="@{/kiosk/new}" data-toggle="tab"><strong>Browser</strong></a></li>-->
         <li><a href="#"  th:href="@{/kiosk/new}" data-toggle="tab"><strong>KIOSK</strong></a></li>
		 <li class="active"><a href="#" th:href="@{/profileapp}" data-toggle="tab"><strong>Applications</strong></a></li>
          <li><a href="#" th:href="@{/managedevice}" data-toggle="tab"><strong>Manage Device</strong></a></li>
         <!--  <li><a href="#video" data-toggle="tab"><strong>Video Looper</strong></a></li> -->
          <li><a href="#" th:href="@{/advanced}" data-toggle="tab"><strong>Advanced</strong></a></li>
        </ul>
     <br />
    <h2>Application Details</h2>
    <div>
<!--         <form class="form-horizontal" th:object="${app}" th:action="@{/app}" method="post">
           <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Package Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{packageName}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Version Code:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{versionCode}"/>
                </div>
            </div>
          <div class="form-group">
          <div class="col-sm-4">
                <label class="col-sm-2 control-label">Application:</label>
                <div class="col-sm-10">
                   <input type="file" class="btn btn-primary btn-sm" th:field="*{appfile}"/>
                </div>
            </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form> -->
        <form class="form-horizontal form-bordered" th:object="${app}" th:action="@{/app}" method="post">
<!--          <form id="config"  value="config" class="form-horizontal form-bordered" method="post" action="https://www.ospforbusiness.com/toggleFields()" >
		--> 
		<input type="hidden" th:field="*{id}"/> 
		<div class="form-group">
                 <div class="col-sm-8">
                  <label class="col-sm-2 control-label">SELECT APPLICATION:</label>
                <div class="col-sm-10">
                    <select id="appist" name="appListId" >
                    	<option th:each="option : ${apps}" th:value="${option.id}" 
                        th:text="${option.appfile}" >Options</option>
           			 </select>
           			 <button onclick="addapplication()" id="buttonaddapp" value="add" type="button" class="btn btn-primary">ADD AND APPLY</button>
                </div>
               </div>
         </div>   

         <div class="form-group">
             <label class="col-sm-3 control-label">UPLOAD NEW APP / WALLPAPER</label>
          	 <div class="col-sm-3">
            	<label class="col-sm-3 control-label">PACKAGE NAME</label>
	            <div class="col-sm-3">
	              <input type="text" name="package1" id="package1" th:field="*{packageName}" />
	              <span class="help-block"></span>
	            </div>
              </div>

            <div class="col-sm-3">
            	<label class="col-sm-3 control-label">VERSION CODE</label>
	            <div class="col-sm-3">
	              <input type="text" name="vcode" id="vcode" th:field="*{versionCode}" />
	              <span class="help-block"></span>
	            </div>
            </div>
           	<div class="col-sm-3">
            	<label class="col-sm-3 control-label">VERSION CODE</label>
	                 <div class="col-sm-3">
	                   <input type="file" class="btn btn-primary btn-sm" th:field="*{appfile}"/>
	                </div>
	            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
         </div>
       </form>
    </div>
        <h2>Applications List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Application Name </th>
                <th>Version Code </th>
                <th>Package Name </th>
                <th>View</th>
                <th>Edit</th>
            </tr>
    	    <tr th:each="app : ${apps}">
                <td th:text="${app.id}"><a href="/app/${app.id}">Id</a></td>
                <td th:text="${app.appfile}">Application Name </td>
                <td th:text="${app.versionCode}"> Version Code  </td>
                <td th:text="${app.packageName}">Package Name </td>
                <td><a th:href="${ '/app/' + app.id}">View</a></td>
                <td><a th:href="${'/app/edit/' + app.id}">Edit</a></td>
            </tr>
        </table>

    </div>


</body>
</html>